layout {

    focus-ring {
        active-color   "#f8cb54"
	width 1.2
        inactive-color "#292414"
        urgent-color   "#fd4663"
    }

    border {
        active-color   "#f8cb54"
        inactive-color "#292414"
        urgent-color   "#fd4663"
    }

    shadow {
        color "#29241470"
    }

    tab-indicator {
        active-color   "#f8cb54"
        inactive-color "#9a6f00"
        urgent-color   "#fd4663"
    }

    insert-hint {
        color "#f8cb5480"
    }
}

recent-windows {
    highlight {
        active-color "#f8cb54"
        urgent-color "#fd4663"
    }
}
