include "./cfg/animation.kdl"
include "./cfg/autostart.kdl"
include "./cfg/keybinds.kdl"
include "./cfg/input.kdl"
include "./cfg/display.kdl"
include "./cfg/layout.kdl"
include "./cfg/rules.kdl"
include "./cfg/misc.kdl"

//preferences {
//    // Отключает лок фоновых окон в 1 FPS
//    freeze-inactive-windows false
//}

include "noctalia.kdl"
