input {
    keyboard {
        xkb {
            // If you want to overwrite your keyboard layout,
            // uncomment the line below and change the layout accordingly.
            // Добавляем us и ru через запятую
            layout "us,ru"

            // Настраиваем комбинацию для переключения (например, alt_shift_toggle)
            options "grp:alt_shift_toggle"
        }
        // numlock // Enable numlock on startup
    }

    touchpad {
        tap // Enable tap-to-click
        natural-scroll // Enable natural (macOS-style) scrolling
    }

    mouse {
        // If you want to disable Mouse Acceleration,
        // uncomment the lines below.
        // accel-profile "flat"
        // accel-speed 0.0
    }
    workspace-auto-back-and-forth // Enable workspace back & forth switching
    
    // Перемещение курсора мыши за фокусом клавиатуры ровно в центр окна
    warp-mouse-to-focus mode="center-xy-always"
}
